<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/MR_HDP2.2/src/src/main/java/cn/edu/TrainWork.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="src.main.java.cn.edu.TrainWork"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="hdfs://192.168.1.96:8020/file4/  hdfs://192.168.1.96:8020/file4out/d1"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="MR_HDP2.2"/>
</launchConfiguration>
